* {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

a  {
    color: #fff;
    text-decoration: none
}

body > header {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%);
    background-color: #212121
}

body, textarea {
    background-color: #181818;
    border: none
}

textarea {
    border-bottom: solid 2px #639;
    color: #fff
}

h2, h3, h4, p, label, .hommeoufemme {
    color: #fff
}

input {
    font-size: 20px;
    background-color: #181818;
    color: #fff
}

.menu {
    background-color: #212121;
    margin-left: 10px
}

.menu li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px
}

.menu a {
    font-weight: 400;
    color: #fff;
    padding-bottom: 3px
}

.pageouverte a {
    transition: .1s;
    border-bottom: solid 2px #9370db;
    color: #fff
}

.nonouverte a {
    transition: all .1s ease-in-out;
    border-bottom: solid 2px #212121
}

.nonouverte a:hover, .pageouverte a:hover {
    cursor: pointer;
    color: #9370db;
    margin-right: auto;
    border-bottom: solid 2px #9370db
}

button {
    text-transform: uppercase;
    transition: .2s
}

.posboutondeco button {
    transition: .1s;
    color: #fff
}

.search, .searchami {
    display: flex;
    flex-wrap: initial;
    margin: auto;
    height: 33px
}

.search input {
    outline: none;
    border: solid 2px #303030;
    border-right: none;
    width: 20em
}

.search button, .searchami button {
    color: #5f5f5f;
    border: none;
    background-color: #303030;
    text-decoration: none;
    padding: 6px;
    width: 3em
}

@media (max-width: 1300px) {
    .search {
        display: none
    }
}

.boutondeco {
    background-color: #9370db;
    border-radius: 25px;
    color: #fff;
    border: none;
    padding: 7px;
    margin-right: auto
}

.posboutondeco {
    display: flex;
    flex-wrap: initial;
    margin-right: 4%;
    margin-top: auto;
    margin-bottom: auto
}

.posboutondeco button:hover {
    background-color: grey;
    cursor: pointer
}

.profilbulle {
    margin-top: 3px
}

.profilbulle img {
    transition: background-color .1s ease-in-out;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 4px;
    background-color: #212121
}

.profilbulle img:hover, .videos article:hover, .videosrecherche article:hover {
    background-color: #9370db
}

.profilouvert img:hover {
    background-color: #fff
}

.profilouvert img {
    transition: background-color .1s;
    background-color: #9370db
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 45px;
    border-bottom: solid 2px #9370db
}

.videos a, .videosrecherche a {
    color: #000
}

.videos p, .videosrecherche p, .compublies, .espacebtext {
    padding-top: 5px
}

.videos header, .videosrecherche header {
    display: flex;
    margin-bottom: 10px;
    width: 100%
}

.videos header a, .videosrecherche header a {
    padding: 5px;
    transition: border-color .1s;
    border: solid 3px #181818
}

.videos header a:hover, .videosrecherche header a:hover {
    border-color: #9370db
}

.videos article, .videosrecherche article {
    transition: background-color .1s;
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: 4px 0 5px 0 rgb(0 0 0 / 20%);
    background-color: #232323
}

.videos article p, .videosrecherche article p {
    font-size: 15px
}

@media (max-width: 1300px) {
    .videos {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 20px;
        margin-bottom: 30px
    }
}

@media (max-width: 1300px) {
    .videos article {
        margin-bottom: 20px
    }
}

.profil, .ami, .contacter {
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 10px 25px
}

.profil header, .contacter header  {
    margin-left: 20px;
    padding-bottom: 10px
}

.profil h4 {
    padding-top: 7px;
    padding-bottom: 30px;
    margin-left: 10px
}

.infos {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #9370db
}

.posboutonprofil {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px
}

.connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 14em;
    text-align: center
}

.exception a {
    color: gray
}

.connexion h2, .inscription h2, .infosvideo p {
    padding-bottom: 10px
}

.labelconnexion {
    padding-bottom: 15px
}

.labelconnexion label, .labelinscription label, .labelcontacter label {
    display: block;
    padding-top: 20px;
    padding-bottom: 10px
}

.labelconnexion input, .publier input, .labelinscription input {
    display: block;
    border: none;
    border-bottom: solid 1px #639;
    outline: 0;
    padding-bottom: 5px;
    color: #fff
}

.inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 6em
}

.hommeoufemme label, .hommeoufemme input, .listeamis {
    display: inline-block
}

.labelcontacter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: solid 3px #9370db;
    border-radius: 15px
}

.labelcontacter input {
    display: block;
    border: none;
    outline: 0;
    padding-bottom: 5px
}

.labelcontacter textarea {
    resize: vertical
}

.courrielsujet input {
    border-bottom: solid 1px #639
}

.contacter header h2 {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.contacter header h2 form, .ami header h2 form {
    font-size: 14px
}

.posbouton {
    padding-top: 10px;
    padding-bottom: 10px
}

footer {
    display: flex;
    justify-content: center;
    color: gray;
    padding: 20px
}

.videoaffichage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 20px
}

.infosvideo {
    width: 80em
}

@media (max-width: 1300px) {
    .videoaffichage iframe {
        width: 50em
    }
}

@media (max-width: 1300px) {
    .infosvideo {
        width: 48em
    }
}

.desc {
    width: 100%
}

.videoaffichage iframe {
    border: none
}

.infosvideo header {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px
}

.infosvideo img, .videos header a img, .videosrecherche header a img {
    border-radius: 50px
}

.vues {
    float: right;
    margin-right: 50px
}

.avis, .commentaire {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px
}

.avis input {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 17em
}

.avis span {
    padding-left: 222px
}

.avis p {
    font-size: 12px
}

.infosvideo button {
    color: #fff;
    border: none;
    border-radius: 25px;
    background-color: #639;
    text-decoration: none;
    padding: 7px;
    width: 11em
}

.commentaire textarea {
    width: 100%;
    height: 80px;
    border: none;
    resize: vertical;
    background-color: #212121;
    color: #fff;
    box-shadow: 4px 0 5px 0 rgb(0 0 0 / 20%);
    min-height: 7em;
    max-width: 100%
}

.compublies h2 {
    color: #000;
    width: 100%
}

.compubliesepare {
    display: flex;
    padding: 9px;
    border: none;
    background-color: #212121;
    margin-bottom: 20px;
    margin-top: 5px;
    box-shadow: 4px 0 5px 0 rgb(0 0 0 / 20%)
}

.poschaine {
    margin-left: 4px;
    width: 25%;
    background-color: #212121
}

.poschaine h2, .compubliesepare h3 {
    color: #9370db
}

.poscom {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #212121
}

.ami header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
    padding-bottom: 10px
}

.amis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #9370db

}

.amis a {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center

}

.amis h3 {
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #fff
}

.amis button:hover {
    background-color: #f7f7f8;
    color: #639;
    cursor: pointer
}

.ajouteramis {
    justify-content: space-between
}

.searchami input {
    outline: none;
    border-style: solid;
    border-color: #303030;
    width: 20em;
    font-size: 14px
}

.ligneamis {
    display: flex;
    padding: 9px;
    align-items: center;
    border-top: solid 3px #fff
}

.imagesamis {
    display: block;
    margin-top: 1em;
    margin-bottom: 5px;
    border-radius: 50px
}

.attenteamis, .enligne, .horsligne {
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #9370db;
    width: auto;
    margin: 10px;
    background-color: #9370db;
    box-shadow: 4px 0 5px 0 rgb(0 0 0 / 20%)
}

.attenteamis button {
    color: #fff;
    border: none;
    border-radius: 25px;
    background-color: #639;
    text-decoration: none;
    padding: 8px;
    width: 10em;
    margin-left: 5px
}

.enligne button, .horsligne button {
    color: #fff;
    border: none;
    border-radius: 25px;
    background-color: #639;
    text-decoration: none;
    padding: 8px;
    width: 10em;
    margin-left: 5px;
    margin-right: 10px
}

.boutonpublier {
    background-color: #639;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 7px;
    width: 13em
}

.publier {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 8em;
    text-align: center
}

.publier label {
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    width: auto
}

.minia {
    font-size: 13px
}

.labeloublie label {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px
}

.labeloublie input {
    display: block;
    border: none;
    border-bottom: solid 1px #639;
    outline: 0;
    padding-bottom: 5px;
    margin-bottom: 5px
}

.videosrecherche {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    padding-top: 5px;
    padding-bottom: 2em;
    margin: 10px 45px;
    border-bottom: solid 3px #9370db
}

.tempsindex {
    float: right;
    font-size: 15px
}

button:hover {
    background-color: #555;
    cursor: pointer
}